
<div class="change page hidden" id="page_three">
    <div class="bg-gray p-1 mt-4 pl-4 shadow rounded w-[850px] h-[70px]">
        <div class="flex space-x-2 mt-2">
            <button class="bg-red-600 text-white px-4 py-2 rounded     item">VB Song ngữ</button>
            <button class="bg-gray-200 text-gray-800 px-4 py-2 rounded item">Tải VB</button>
            <button class="bg-gray-200 text-gray-800 px-4 py-2 rounded item"> Lưu</button>
            <button class="bg-gray-200 text-gray-800 px-4 py-2 rounded item"> Theo dõi VB</button>
            <button class="bg-gray-200 text-gray-800 px-4 py-2 rounded item"> Báo lỗi</button>
        </div>
    </div>
    <div class="bg-white p-4 mt-4 shadow rounded w-[850px] h-[430px] overflow-y-auto">
        <div style="height: 25px; display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex; align-items: center;">
                <p style="font-size: 15px; margin-right: 10px; position: relative; top: -5px;">Tình trạng hiệu lực:</p>
                <strong><p style="font-size: 15px; top: -5px; margin-right: 10px; position: relative;" class="data-validity-status"></p></strong>
            </div>
            <p style="font-size: 15px; top: -5px; margin-right: 10px; position: relative;">Ghi chú</p>
        </div>
        <hr>
        <br>
        <div class="header-decree flex justify-between items-center">
            <div class="w-1/2 text-center ml-[-100px]">
                <p class="font-bold">THEGOVERNMENT</p>
                <p>______</p>
                No. <span class="data-code-number"></span>/<span class="data-file-catalog"></span>/NĐ-CP
            </div>
            <div class="w-1/2 text-center">
                <p class="font-bold">THE SOCIALIST REPUBLIC OF VIETNAM</p>
                <p class="header-title">Independence - Freedom - Happiness</p>
                <span class="underline"></span>
                <span class="data-receives"></span>, <span class="data-start-date-eng"></span>
            </div>
        </div>
        <br>
        <div class="content-section">
            <p class="data-subject-eng"></p>
        </div>
    </div>
</div>
